@using BlazorKanban.Shared

<div class="jobs-container">
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>

@code {
    [Parameter]
    public List<TaskCard> Cards { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback<TaskColumn> OnStatusUpdated { get; set; }

    public TaskCard Payload { get; set; }

    //public async Task UpdateJobAsync(JobStatuses newStatus)
    //{
    //    var task = this.Columns.SingleOrDefault(x => x.Id == Payload.Id);

    //    if (task != null)
    //    {
    //        task.Status = newStatus;
    //        task.LastUpdated = DateTime.Now;
    //        await OnStatusUpdated.InvokeAsync(Payload);
    //    }
    //}
}