@inherits LayoutComponentBase
@attribute [Authorize]
@inject NavigationManager navigationManager

<MatAppBarContainer>
    <MatAppBar Fixed="true">
        <MatAppBarRow>
            <MatAppBarSection>
                <MatAppBarTitle>&nbsp; Blazor Kanban</MatAppBarTitle>
            </MatAppBarSection>
            <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                <BlazorKanban.Client.Pages.Users.UserInfoPanel> </BlazorKanban.Client.Pages.Users.UserInfoPanel>
            </MatAppBarSection>
        </MatAppBarRow>
    </MatAppBar>
    <MatAppBarContent>
        <section class="container-fluid">
            @Body
        </section>
    </MatAppBarContent>
</MatAppBarContainer>

