@inherits ModalBase;

@if (IsVisible)
{
    <div class="modal fade @ModalClass" tabindex="-1" role="dialog" style="display:@ModalDisplay" aria-modal="true" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">@Title</h5>
                    <button type="button" class="close" aria-label="Close" @onclick="ModalClose">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    @*@Content*@
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" @onclick="ModalClose">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-backdrop fade show"></div>
}