@attribute [Authorize]

@if (Card == null)
{
    <Loading />
}
else
{
    <MatCard Class="card-block">
        <MatCardContent Class="p-3">
            <MatHeadline6>
                @Card.Title
                @*<span>&nbsp; @Card.Position &nbsp;</span>*@
            </MatHeadline6>
            <MatBody2>
                @Card.Description
            </MatBody2>
        </MatCardContent>
        <MatCardActions>
            <MatCardActionButtons>
                <MatButton Icon="@MatIconNames.Edit" @onclick="OnEditCallback">Edit</MatButton>
            </MatCardActionButtons>
        </MatCardActions>
    </MatCard>
}

@code {
    [CascadingParameter] public Card Card { get; set; }

    [Parameter] public EventCallback OnEditCallback { get; set; }
}