@using BlazorKanban.Shared
@using BlazorKanban.Client.Pages.Cards
@inject HttpClient Http

@if (Column == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="col-sm-6 col-md-4 col-xl-3">
        <div class="card bg-light">
            <div class="card-body">
                <h6 class="card-title text-uppercase text-truncate py-2">@Column.Title</h6>
                <div class="items border border-light">

                    <Dropzone Items="Column.Cards" TItem="Card" OnItemDrop="UpdateCard">
                        <CardContainer Card="@context" />
                    </Dropzone>

                    <button class="btn btn-primary btn-sm" @onclick="ShowModal">Add Card</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [CascadingParameter] public IModalService Modal { get; set; }

    [Parameter] public Column Column { get; set; }

    private void ShowModal()
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(Card.ColumnId), Column.Id);

        Modal.Show<CardEdit>($"Create a new Card on {Column.Title}", parameters);

        this.StateHasChanged();
    }

    private void UpdateCard()
    {
        // Update the card with the new column id
    }
}