@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.


<div class="container-fluid pt-3">
    <div class="card-body">
        <a href="boards">
            <span class="oi oi-list-rich" aria-hidden="true"></span> &nbsp; Boards
        </a>
    </div>
</div>
